.sidebar {
	border-style: solid;
	border-width: 0.1rem;
	padding: 1rem;
	margin: 1rem;
	display: flex;
	height: 40rem;
	width: 10rem;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center
}

.conteudo_sidebar {
	height: 100%;
	justify-content: space-evenly;
	flex-direction: column;
	display: flex;
	align-items: center;
}

.content {
	display: flex;
	justify-content: center;
}

.aluno {
	display: flex;
	justify-content: center;
}

.cont_aluno {
	display: flex;
	justify-content: center;
}

.ul {
	display: flex;
	max-width: 100rem;
	justify-content: center;
}

.categorias2 {
	margin: 1rem;
}

