.item2 {
    justify-content: flex-start;
}

.item3 {
	display: inline-flex;
	align-items: center;
	/*font-size: 2rem;*/
}

.item4 {
	margin: 1rem;
}

.ul {
	display: flex;
	max-width: 100rem;
	justify-content: center;
	align-items: flex-end;
}

/*h1 {
	font-size: 4rem;
}*/