.item2 {
	justify-content: flex-start;
	font-family: 'EB Garamond', serif;
	font-size: 2.5rem;
	text-align: justify;
	color: #025373;
}

.item3 {
	justify-content: flex-start;
	font-family: 'EB Garamond', serif;
	font-size: 1.2rem;
	text-align: justify;
	color: #025373;
	margin-top:1rem; 
	margin-left:1rem;
	margin-right: 1rem;
	margin-bottom: 2rem;
}

.item4 {
	margin: 1rem;
	align-items: flex-end;
}

.lista {
	border-style: solid;
	margin: 1rem;
	font-family: 'EB Garamond', serif;
	font-size: 1.2rem;
	color: #025373;
	margin-bottom: 2rem;

}

.ul {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

@media (max-width: 360px){
	.body {
	    flex-wrap: wrap !important;
	}
 	.ul {
 		display: flex;
 		justify-content: center;
 	}
 	.container4{
 		display: flex;
 		justify-content: center;
 		width: 100%
 	}
}


