body {
	background-color: #000000;
	font-family: sans-serif;
}

.container {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 1rem;
}

.total {
	color: #FFFFFF;
	font-size: 2rem;
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
}

.number {
	background-color: #FFFFFF;
	color: #000000;
	grid-column-start: 1;
	grid-column-end: 4;
	padding: 1rem;
	text-align: center;
}

.key {
	border-radius: .5rem;
	padding: 1rem;
	text-align: center;
}

.num {
	background-color: #AAAAFF;
	color: #0000AA;
}

.num:active {
	background-color: #0000AA;
	color: #AAAAFF;
}

.com {
	background-color: #FFAAAA;
	color: #AA0000;
}

.com:active {
	background-color: #AA0000;
	color: #FFAAAA;
}